header{
background-color: #111a3d;
}
main{
background-color: #0f1633;
text-align: center;
}
body{
background-color: #0b1026;
}
h2{
text-align: center;
color: Gold;
}
p{
text-align: center;
color: indigo;
}
h1{
text-align: center;
color: Gold;
}
img{

}
footer{
background-color:  #111a3d;
}
